.I{
    border-right: solid 1px;
}
i{
    margin-right: 8px;
}
p{
    text-align: justify;
}
h6{
    font-weight: bold;
}
.H5{
    color: #D98719;
}
.lbln{
    font-weight: bold;
}
.Central{
    border-bottom: solid 1px;
}